@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  /* 1rem = 10px for easier calculations */
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  --red: #5fb9f1;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}


/* List and Paragraph Styling */
ul li {
  list-style: none;
}
li {
  font-size: 1.6rem;
  letter-spacing: 0.15em;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo-heading {
  font-size: 3.5rem;
}
.lg-heading {
  font-size: 6rem;
}

.md-heading {
  font-size: 1.8rem;
}

.about-content {
  font-size: 1.5rem;
}

.text-blue-dark {
  color: rgb(7, 27, 74);
}

.text-blue {
  color: rgb(16, 60, 203);
}

.text-light {
  color: #f4f4f4;
}

.text-black {
  color: #333333;
}

.text-gray {
  color: #555555;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #fff;
  border-radius: 100em;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ddd;
}

.btn-secondary {
  border-radius: 1.5em;
  border: 2px solid rgb(16, 60, 203);
  color: rgb(16, 60, 203);
  background: #fff;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #f3f3f2;
}

/* Background Colors */
.bg-dark {
  background-color: rgb(7, 27, 74);
}

/* Navbar */
.navbar {
  padding: 1rem;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar::after {
  content: "";
  display: block;
  clear: both;
}

.navbar .logo {
  float: left;
}

.navbar .nav-items {
  float: right;
  margin-top: 1rem;
}

.navbar .nav-item {
  display: inline-block;
  margin: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  position: relative;
}
.navbar .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s ease;
}

.navbar .nav-item:hover::after {
  width: 100%;
}

.navbar .nav-item a {
  text-decoration: none;
  color: #fff;
  transition: color 0.4s ease;
}

.navbar a:visited {
  color: #fff;
}

.navbar .profile-container {
  float: right;
  margin-top: 9px;
  margin-left: 20px;
}

.navbar .profile-image {
  width: 30px; 
  height: 30px;
  border-radius: 100%; 
  object-fit: cover; 
  cursor: pointer;
  border: 2px solid white; 
}

@media (max-width: 768px) {
  .navbar .nav-items .nav-item {
    font-size: 1.2rem; 
    margin: 1rem; 
  }

  .navbar .profile-image {
    width: 25px;
    height: 25px;
  }
  .navbar .logo{
    margin-left: 35%;
  }
  .navbar .profile-container {
    float: right;
    margin-top: 7px;
    margin-left: 12px;
  }
}


/* Header Image */
.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
}

.header * {
  position: relative;
  z-index: 2;
}

.header-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.header-content h1 {
  text-transform: uppercase;
  font-weight: 200;
}

.header-content p {
  text-transform: uppercase;
  font-size: 2rem;
}

.header-content .main-heading {
  font-family: "Abril Fatface", serif;
  letter-spacing: 0.3rem;
}

.header-content .subheading p {
  font-size: 10rem;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
  z-index: 3;
}
.scroll-to-top {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
}

/* Section 2 */
.responsive-section {
  padding: 100px 10px;
  background-color: #f9f9f9;
}

/* Flex Container */
.container-2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

/* Image Styling */
.section2-img img {
  max-width: 600px;
  width: 100%;
  height: auto;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Text Content Styling */
.section2-text {
  flex: 1;
  max-width: 500px;
}

.section2-text h2 {
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
  margin-bottom: 20px;
  color: #000;
}

.section2-text p {
  line-height: 1.6;
  font-size: 2rem;
  color: #666;
  font-weight: 200;
}

/* Play Video Button */
.play-video {
  margin-top: 70px;
}

.btn-play {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #27a2d3;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 2rem;
  color: #288ad1;
  background-color: #cbe5f5;
  width: 80px;
  height: 80px;
  border: 1px solid #288ad1;
  border-radius: 50%;
}
.icon:hover {
  border-color: #fff;
  color: #1c6ac3;
  background-color: #92c9f1;
}

.text {
  align-self: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

@media (max-width: 1200px) {
  .responsive-section .container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive-section .section2-img,
  .responsive-section .section2-text {
    width: 100%;
    text-align: center;
  }

  .responsive-section .section2-text {
    margin-top: 20px;
  }
}

/* Section3 */
.section3 {
  padding: 100px 15px;
  background-color: #daedfa;
}

.container-3 {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.section3-heading {
  margin-bottom: 5rem;
}

.section3-heading h2 {
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
  margin-bottom: 1.2rem;
}

.section3-heading p {
  font-size: 2rem;
  letter-spacing: 0.001rem;
  line-height: 3rem;
  font-weight: 200;
  color: #737373;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.col {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: center;
  max-width: calc(33.333% - 20px);
}

.icon-img img {
  width: 100px;
}

.col h3 {
  font-family: "Abril Fatface", serif;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.col p {
  font-weight: 200;
  font-size: 1.8rem;
  color: #737373;
}

/* Responsive styles */
@media (max-width: 576px) {
  .col {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .col {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.section4 {
  padding: 100px 15px;
}

.section4-heading {
  margin-bottom: 5rem;
}

.section4-heading h2 {
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}

.section4-heading p {
  font-size: 2rem;
  letter-spacing: 0.001rem;
  line-height: 3rem;
  font-weight: 200;
  color: #7d7777;
}
/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

/* Card Styles */
.card {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1 / 0.7;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card:hover .content {
  opacity: 1;
}

.content h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.content p {
  font-size: 1rem;
  color: white;
  margin: 0;
  font-weight: 300;
}
.card a{
  text-decoration: none;
  color: #007bff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}

.section5 {
  background-color: hsl(203, 60%, 76%);
  padding: 100px 15px;
}

.section5 h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-size: 4rem;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-top: 3rem;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem; 
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33% - 1.5rem); 
  max-width: 350px;
  height: auto; 
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.message:hover {
  transform: scale(1.05);
}

.message img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.message p {
  flex: 1;
  font-size: 1rem; 
  font-style: italic;
  quotes: "“" "”";
  text-align: justify;
  overflow-wrap: break-word; 
}

.message p::before {
  content: open-quote;
}

.message p::after {
  content: close-quote;
}

.message span {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-left: auto;
  align-self: flex-end;
  text-align: right;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .message {
    flex: 1 1 100%;
    max-width: 100%; 
    padding: 1.5rem; 
  }

  .message p {
    font-size: 0.9rem; 
  }

  .message img {
    width: 80px; 
    height: 80px;
  }
}

@media (max-width: 480px) {
  .message {
    padding: 1rem; 
  }

  .message p {
    font-size: 0.85rem;
  }

  .message img {
    width: 70px;
    height: 70px;
  }
}

/* Footer */

.footer {
  padding: 10rem 10rem 5rem 10rem;
  background-color: #0d042f;
}

.footer h3 {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ddd;
  font-weight: 200;
}

.footer ul li {
  line-height: 5rem;
}

.footer ul li a {
  text-decoration: none;
  color: #aaa;
  font-weight: 200;
}

.footer a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}

.contact-span {
  display: block;
}

.footer p {
  color: #aaa;
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.footer p .contact-span {
  color: #fff;
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 200;
}

.newsletter-form .form-control {
  margin-top: 2.5rem;
  border-bottom: 2px solid #ccc;
  background-color: #f9f9f9;
  padding: 5px;
  width: 100%;
  max-width: 400px;
  display: flex;
}

.newsletter-form input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-style: italic; 
  padding: 5px;
  font-size: 1rem;
}

.newsletter-form input::placeholder {
  color: #aaa;
  font-style: italic;
}

.newsletter-form button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 10px;
}
 .footer-row:last-child {
  margin-top: 100px;
  
  border-top: 1px solid rgb(230, 179, 179);
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.footer-end{
  margin-top: 100px;
  margin-bottom: 100px;
}

footer a{
  color: #dddada;
  text-decoration: none;
}
footer a:hover{
  color: #fff;
}



@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }
}

/* About */
.myButton {
  background-color: #deeefa;
  border-radius: 6px;
  border: 2px solid #4d99f7;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  padding: 16px 38px;
  margin-top: 30px;
  text-decoration: none;
  
}
.myButton:hover {
  background-color: #91c5e3;
}
.myButton:active {
  position: relative;
  top: 3px;
}
/* About Card Container */
.aboutcard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

@media (max-width: 992px) {
  .aboutcard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .aboutcard-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* About Card */

.about-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 357px;
  height: 450px;
  box-shadow: 1px 16px 21px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: auto;
}

.about-card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-body {
  background-color: #fffcfc;
  flex-grow: 1;
  padding: 15px;
}

.card-title {
  color: #8a8585;
  font-weight: 200;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.card-text {
  line-height: 1.4;
  margin: 10px 0 0 0;
  font-size: 3rem;
  color: #000000;
  font-family: "Abril Fatface", serif;
}

/* Contact Us */
/* Contact Section */
.contact-section {
  padding: 120px 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
}

.contact-container {
  display: flex;
  /* flex-direction: row; */
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
}

/* Form Section */
.form {
  width: 50%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

.contact-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
}

.form-col1 {
  flex: 1 1 48%;
}

.form-row {
  margin-top: 20px;
}

label {
  display: block;
  font-weight: 200;
  margin-bottom: 8px;
  font-size: 2rem;
  color: #696767;
}

input[type="text"],
textarea,
input[type="submit"] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(33, 133, 240, 0.5);
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #fff;
  color: #000000;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border: 2px solid #09509c;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #007bff;
  color: #fff;
}

/* Address Section */
.address-col {
  position: relative;
  width: 40%;
  padding: 40px;
  /* margin-left: 70px; */
  margin-top: 30px;
  box-sizing: border-box;
}

.address-block {
  display: block;
  font-weight: 400;
  color: #007bff;
  font-size: 2rem;
  margin-bottom: 10px;
}

.address-col p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.address {
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  font-size: 3.5rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column; 
    align-items: center; 
  }

  .form,
  .address-col {
    width: 100%; 
      margin: 20px 0; 
  }

  .address-col {
      margin-left: 0; 
  }
}

@media (max-width: 768px) {
  .form {
    padding: 30px; 
  }

  label {
    font-size: 1.5rem; 
  }

  .address-block {
      font-size: 1.5rem; 
  }

  .address {
    font-size: 2.5rem; 
  }

  input[type="submit"] {
    font-size: 16px;
    padding: 8px 12px; 
  }
}

@media (max-width: 480px) {
  .form {
    padding: 20px; 
  }

  label {
    font-size: 1.2rem;
  }

  .address-block {
    font-size: 1.2rem;
  }

  .address {
    font-size: 2rem;
  }
}

/* GAllery */


.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 80px 0 80px 0 ;
}

.gallery-card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.gallery-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  text-align: center;
}

.gallery-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.view-more-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.view-more-button:hover {
  background: #0056b3;
}

.gallery-card:hover  {
  transform: scale(1.1);
  backdrop-filter: blur(4px);
}

.gallery-card:hover .gallery-card-overlay {
  opacity: 1;
}



.fancybox-gallery-container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.fancybox-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.fancybox-gallery-item {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.fancybox-gallery-image {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 8px;
  transition: opacity 0.3s ease;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}
.overlay-heading{
  font-size: 14px;
}
.overlay-text {
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

.fancybox-gallery-item:hover .overlay {
  opacity: 1; 
}

.fancybox-gallery-item:hover .fancybox-gallery-image {
  opacity: 0.7; 
}



/* Blog */
.blog-section {
  padding: 20px;
  background-color: #f9f9f9;
  
}

.blog-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 15px;
  flex-wrap: wrap;
  padding: 0 15px; 
  box-sizing: border-box; 
}

.blog-container input[type="text"] {
  flex: 1;
  min-width: 0; 
  max-width: 100%; 
  width: 100%; 
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensure padding is accounted for */

}




.blog-container input[type="text"]::placeholder {
  color: #aaa;
}

.blog-container span {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
}

.blog-container span:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
    align-items: center; 
  }

  .blog-container input[type="text"] {
    margin: 10px 0; 
  }
}

@media (max-width: 480px) {
  .blog-container span {
    font-size: 14px;
    padding: 8px 15px;
  }

  .blog-container input[type="text"] {
    font-size: 14px;
    padding: 8px 10px;
  }
}


.create-blog-link {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.create-blog-link:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .create-blog-link {
    font-size: 14px;  
    padding: 8px 15px; 
  }
}

@media (max-width: 480px) {
  .create-blog-link {
    font-size: 12px; 
    padding: 6px 10px; 
  }
}
